body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  text-align: center;

}

h1 {
  margin-top: 20px;
}

.characterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}



